
  <div class="products">  
    <ng-container >
      <div class="product" >
        <p class="item-name">{{ product.Name }}</p>
        <div class="item-thumb-container">
          <img
           *ngIf="product.ImageUrl"
            src="{{ product.ImageUrl }}"
    
            alt="thumbnail"
            class="item-thumbnail"
          />
        <p *ngIf="!product.ImageUrl">No image</p>
        </div>
        <div class="item-description">

          <p class="item-price">PRICE: {{ product.Price }} USD </p>
          <p class="item-category">CATEGORY: {{ product.Category }}</p>
          <p class="item-colors">COLORS: {{ product.Colors }}</p>
          <p class="item-url">URL: {{ product.Product_url }}</p>
          <p class="item-features">FEATURES: {{ product.Key_features }}</p>
          <p class="item-tools">TOOLS: {{ product.Tools }}</p>
        
          
        </div>
      </div>

      <div class="popup"  (click)="myFunction()">
        <button class="button"  > Add to cart </button>
        <span class="popuptext" id="myPopup">Item Added to Cart</span>
        </div>
        <button  class="button2"  [routerLink]="['/home']" >Go Back to Home </button>
       
        
    </ng-container>> 
  </div> 

  