<div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="sort"
        (selectionChange)="searchItems(sort)"
      >
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  

  
  <div class="products">  
    <ng-container *ngFor="let product of products">
      <div class="product" (click)="openItemDetails(product.Id)">
        <div class="item-thumb-container">
          <img
           *ngIf="product.ImageUrl"
            src="{{ product.ImageUrl }}"
    
            alt="thumbnail"
            class="item-thumbnail"
          />
        <p *ngIf="!product.ImageUrl">No image</p>
        </div>
        <div class="item-description">
          <p class="item-name">{{ product.Name }}</p>
          <!-- <div class="item-platforms">
            <img
             *ngFor="let itemPlatform of item.parent_platforms"            
              class="item-platform"
              src="assets/images/platforms/{{ gamePlatform.platform.slug }}.svg"
              alt="{{ gamePlatform.platform.slug }}"
            />
          </div> -->
        </div>
      </div>
    </ng-container> 
  </div>
  


  